<%- include('partials/header') %>
<main>
  <h1>Student Information</h1>
  <p>Name: <%= student.name %></p>
  <p>ID: <%= student.id %></p>
  <p>Email: <%= student.email %></p>
  <p>Address: <%= student.address %></p>
</main>
<%- include('partials/footer') %>
